.title{
    -fx-font-weight: bold;
    -fx-font-size: 3em;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}

.details_container{
    -fx-padding: 10 5 10 5;
    -fx-background-color: linear-gradient(to right, #A6CFFE, #728FCE);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 10, 0, 0, 10);
}

.account_details{
    -fx-alignment: center-left;
    -fx-padding: 10 5 10 5;
    -fx-spacing: 15;
    -fx-font-family: "Gill Sans MT";
    -fx-font-size: 2em;
}