.title{
    -fx-font-size: 2em;
    -fx-fill: #000000
    -fx-font-weight: bold;
}

.deposit_container {
    -fx-background-color: #EEEEEE;
}

.search_box {
    -fx-spacing: 10;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 0 0 1 0;
}

Text{
    -fx-font-family: "Gill Sans MT";
    -fx-font-size: 1.5em;
    -fx-fill: #555555;
}

TextField {
    -fx-pref-width: 200;
    -fx-pref-height: 35;
    -fx-background-color: #FFFFFF;
    -fx-effect:dropshadow(three-pass-box, #AAAAAA,3,0,0,3);
}

Button {
    -fx-background-color: linear-gradient(to right, #57A0D3, #728FCE);
    -fx-effect:dropshadow(three-pass-box, #AAAAAA,3,0,0,3);
    -fx-font-size: 1.6em;
    -fx-text-fill: #EEEEEE;
    -fx-font-family: "Gill Sans MT";
    -fx-pref-width: 200;
}

Button:hover {
    -fx-cursor: hand;
}


.deposit_box {
    -fx-spacing: 20;
    -fx-padding: 20;
}

.details_container{
    -fx-alignment: center-left;
    -fx-padding: 10 5 10 5;
    -fx-spacing: 15;
    -fx-font-family: "Gill Sans MT";
    -fx-font-size: 2em;
}

