.main_container{
    -fx-background-color: linear-gradient(to right, #FFFFFF, #B5B5B5);
    -fx-alignment: center;
}

.title{
    -fx-font-size: 3em;
    -fx-font-family: "Gill Sans MT";
}

.button {
    -fx-background-color: linear-gradient(to right, #A6CFFE, #728FCE);
    -fx-effect:dropshadow(three-pass-box, #AAAAAA,3,0,0,3);
    -fx-font-size: 1.6em;
    -fx-text-fill: #EEEEEE;
    -fx-font-family: "Gill Sans MT";
    -fx-pref-width: 150;
    -fx-pref-height: 30;
}

.text_field{
    -fx-pref-height: 35;
        -fx-pref-width: 200;
        -fx-font-size: 1.5em;
        -fx-font-family: "Gill Sans MT";
}

Button:hover {
    -fx-cursor: hand;
}

.details_container{
    -fx-background-color: linear-gradient(to right, #A6CFFE, #728FCE);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 10, 0, 0, 10);
    -fx-padding: 5 10 5 10;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}