.login_container{
    -fx-background-color: #EEEEEE;
}

.logo_container{
    -fx-background-color: linear-gradient(to right, #A6CFFE, #728FCE);
    -fx-alignment: center;
}

.logo_text{
    -fx-font-size: 2em;
    -fx-fill: #0C090A;
    -fx-font-weight: bold;
}

.account_selector{
    -fx-background-color: #ecf39e;
}

#choice-text{
    -fx-font-weight: 400;
}

.account_selector .label{
    -fx-text-fill: #728FCE;
    -fx-font-size: 1.5em;
}

.account_selector .arrow{
    -fx-background-color: #728FCE;
}

#choice-box-popup-menu{
    -fx-background-color: #ecf39e;
    -fx-font-family: "Gill Sans MT";
    -fx-fill: #000000;
    -fx-font-weight: bold;
}

.login_form{
    -fx-spacing: 15;
    -fx-padding: 0 0 0 10;
}

.login_form Label{
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.bold_text{
    -fx-font-weight: bold;
}

.text_field{
    -fx-background-color: #FFFFFF;
    -fx-height: 15;
    -fx-width: 270;
    -fx-font-size: 1.5em;
}

.login_form Button{
    -fx-text-fill: #000000;
    -fx-font-size: 1.5em;
    -fx-background-color: linear-gradient(to right, #A6CFFE, #728FCE);
}

.login_form Button:hover{
    -fx-cursor: hand;
}

.error_label{
    -fx-text-fill: #FF0000;
    -fx-font-size: 1.2em;
}

.error_label FontAwesomeIconView{
    -fx-fill: #FF0000;
}

.notAClient_link{
    -fx-font-family: "Gill Sans MT";
    -fx-alignment: center_right;
}