.title{
    -fx-font-weight: bold;
    -fx-font-size: 3em;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}

.main_container{
    -fx-background-color: linear-gradient(to right, #FFFFFF, #B5B5B5);
    -fx-alignment: center;
}